<h1>PRODUCTOS</h1>

<div class="products-container">
   {{#each products}}
   <div class="product">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p><strong>Precio:</strong> ${{price}}</p>
      <p><strong>Categoría:</strong> {{category}}</p>
      <button>🛒 Agregar al carrito</button>
   </div>
   {{/each}}
</div>

<div class="pagination">
   {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}">⬅ Anterior</a>
   {{/if}}
   <p>Página {{currentPage}} de {{totalPages}}</p>
   {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}">Siguiente ➡</a>
   {{/if}}
</div>
